.span {
    padding-left: 12px;
}

.warHeaderText {
    margin-bottom: 1.2rem;
    font-size: 30px;
    font-weight: 700;
}

.warCount {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
}

.warInfoText {
    font-size: 14px;
}

@media screen and (min-width: 700px) and (max-width: 900px){
    .warHeaderText {
        font-size: 26px;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
    .warHeaderText {
        font-size: 24px;
    }
    .warInfoText {
        font-size: 10px;
    }
    .warCount {
        font-size: 20px;
    }
}

@media screen and (min-width: 200px) and (max-width: 499px) {
    .warHeaderText {
        margin-bottom: 0.2rem;
        font-size: 14px;
    }
    .warInfoText {
        font-size: 7px;
    }
    .warCount {
        margin: 0;
        font-size: 17px;
    }
}
