.sectionCenter {
    display: grid;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    gap: 3rem 2rem;
    justify-items: center;
}

.cardItem {
    display: grid;
    max-width: 25rem;
    gap: 1rem 2rem;
}

.photo {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: inherit;
    border: 0.25rem solid var(--clr-gold);
    border-radius: var(--radius);
}

.itemInfo header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--clr-grey-5);
}

.itemInfo h4 {
    margin-bottom: 0.5rem;
}

.requiredAmount {
    color: var(--clr-gold);
}

.itemText {
    margin-bottom: 0;
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    .cardItem {
        grid-template-columns: 225px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }
    .photo {
        height: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .sectionCenter {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }
    .photo {
        height: 150px;
    }
}