.btnContainer {
    display: flex;
    margin-bottom: 4rem;
    justify-content: center;
}

.filterBtn {
    margin: 0 0.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: var(--clr-gold);
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--radius);
    outline: none;
}

.filterBtn:hover {
    color: var(--clr-white);
    background: var(--clr-gold);
}

.filterBtn:active {
    color: var(--clr-white);
    background: var(--clr-gold);
}

.filterBtn:focus {
    color: var(--clr-white);
    background: var(--clr-gold);
}
