.btnContainer {
    display: flex;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
}

.categoriesExpand {
    display: none;
}

.filterBtn {
    margin: 0 0.25rem;
    padding: 0.15rem 0.5rem;
    font-size: 1rem;
    color: var(--clr-gold);
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--radius);
    outline: none;
}

.filterBtn:hover {
    color: var(--clr-white);
    background: var(--clr-gold);
}

.filterBtn:active {
    color: var(--clr-white);
    background: var(--clr-gold);
}

.filterBtn:focus {
    color: var(--clr-white);
    background: var(--clr-gold);
}

@media screen and (min-width: 10px) and (max-width: 1200px) {
    .btnContainer {
        display: none;
    }
    .categoriesExpand {
        display: block;
    }
}
