.contacts {
    display: flex;
    width: 100%;
    margin-left: 25%;
    align-items: center;
}

.contactsLogoContainer {
    width: 30%;
    margin-right: 5%;
}

.contactsInfo {
    width: 100%;
}

.contactsItem {
    width: 55%;
    font-size: 20px;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactsItemLink {
    cursor: pointer;
}

.contactsItem:hover .contactsItemLink {
    color: #c59d5f;
}

@media screen and (min-width: 100px) and (max-width: 450px) {
    .contacts {
        display: flex;
        flex-direction: column;
        width: 95%;
        align-items: center;
        justify-content: center;
        margin: 0 11% 0 11%;
    }
    .contactsLogoContainer {
        width: 8.2rem;
        margin-bottom: 2rem;
    }
    .contactsInfo {
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .contactsItem {
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: column;
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 451px) and (max-width: 800px) {
    .contacts {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 20% 0 20%;
    }
    .contactsLogoContainer {
        width: 30%;
        margin: 0;
    }
    .contactsInfo {
        width: 100%;
        margin-top: 5%;
    }
    .contactsItem {
        width: 100%;
        flex-direction: row;
        margin-bottom: 2%;
        font-size: 15px;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 801px) and (max-width: 999px) {
    .contacts {
        display: flex;
        width: 100%;
        margin-left: 8rem;
        margin-right: auto;
        align-items: center;
    }

    .contactsLogoContainer {
        width: 20%;
        margin-right: 4rem;
    }

    .contactsInfo {
        width: 60%;
        justify-content: space-between;
    }

    .contactsItem {
        width: 90%;
        margin-bottom: 2%;
        font-size: 15px;
        color: #000;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .contacts {
        width: 100%;
        margin: 0 15% 0 15%;
        align-items: center;
    }
    .contactsLogoContainer {
        width: 30%;
        margin: 0 4rem 0 0;
    }
    .contactsInfo {
        width: 100%;
        color: #000;
    }
    .contactsItem {
        width: 100%;
        margin-bottom: 4%;
        font-size: 16px;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .contacts {
        width: 80%;
        margin: 0 20% 0 18%;
        align-items: center;
    }
    .contactsLogoContainer {
        width: 40%;
        margin: 0;
    }
    .contactsInfo {
        width: 70%;
        margin-left: 10%;
    }
    .contactsItem {
        width: 100%;
        margin-bottom: 4%;
        font-size: 16px;
        align-items: center;
        justify-content: space-between;
    }
}
