.finSupportMain {
    margin-top: 5%;
    margin-bottom: 1%;
}

.payPalContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payPalItem {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.currencyIcn {
    width: 9rem;
    margin-bottom: 5%;
}

.textOR {
    font-size: 14px;
    font-weight: 600;
    margin: 2% 0;
}

.finDivider {
    display: none;
    width: 5rem;
    height: 0.2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    background: var(--clr-gold);
}

@media screen and (min-width: 100px) and (max-width: 800px) {
    .payPalContainer {
        flex-direction: column;
    }
    .payPalItem {
        margin-bottom: 10%;
    }
    .currencyIcn {
        margin-bottom: 10%;
    }
    .finDivider {
        display: flex;
    }
}
