.homepageContainer {
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: space-evenly;
}

.homepageLogoWrap {
    width: 40%;
    margin-right: 16%;
}

.homepageNav {
    display: flex;
    width: 60%;
    flex-direction: column;
    text-align: justify;
}

.homepageNavItem {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 4rem;
    cursor: pointer;
    text-shadow: 3px 2px 12px 32px rgba(0,0,0,0.75);
    text-decoration: none !important;
}

.homepageNavItem:hover {
    color: #c59d5f;
    background-size: 0 3px, 100% 3px;
}

@media screen and (min-width: 1390px) and (max-width: 1800px) {
    .homepageContainer {
        width: 100%;
        margin: 0 20% 0 20%;
    }
    .homepageNav {
        width: 60%;
    }
    .homepageLogoWrap {
        width: 23rem;
        height: 23rem;
    }
    .homepageNavItem {
        font-size: 2rem;
        line-height: 4rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
    .homepageContainer {
        width: 100%;
        margin: 0 10% 0 10%;
    }
    .homepageNav {
        width: 40%;
    }
    .homepageLogoWrap {
        width: 26%;
        margin-right: 5%;
    }
    .homepageNavItem {
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .homepageContainer {
        width: 100%;
        margin: 0 20% 0 15%;
    }
    .homepageLogoWrap {
        width: 40%;
        height: 40%;
    }
    .homepageNavItem {
        font-size: 0.9rem;
        line-height: 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .homepageContainer {
        width: 100%;
        margin: 5% 20% 0 20%;
    }
    .homepageLogoWrap {
        width: 20rem;
    }
    .homepageNavItem {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 201px) and (max-width: 599px) {
    .homepageContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 3% 0 0 0;
    }
    .homepageLogoWrap {
        width: 10rem;
        margin-bottom: 10%;
        margin-left: 16%;

    }
    .homepageNavItem {
        width: 200px;
        font-size: 1rem;
        letter-spacing: 0.023rem;
        line-height: 1.7rem;
        text-align: center;
    }
}


@media screen and (min-width: 10px) and (max-width: 200px) {
    .homepageContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        flex-wrap: wrap;
    }
    .homepageLogoWrap {
        width: 35%;
        margin: 0;
        padding: 0;
    }
    .homepageNav ul {
        margin: 0;
        padding: 0;
    }
    .homepageNavItem {
        width: 200px;
        font-size: 1.1rem;
        line-height: 5rem;
        text-align: center;
    }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
    .homepageContainer {
        margin: 0;
    }
}

@media screen and (min-width: 300px) and (max-width: 349px) {
    .homepageContainer {
        margin: 0;
    }
}

@media screen and (min-width: 150px) and (max-width: 299px) {
    .homepageContainer {
        width: 10rem;
        margin: 0;
    }
    .homepageLogoWrap {
        margin: 0;
    }
}
