.popTrigger {
}

.popBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popCanvas {
    text-align: center;
}

.popTitle {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}

.popFlex {
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popItem {
    float: left;
    width: 30%;
    font-size: 14px;
    font-weight: 800;
}

.popDetails {
    float: right;
    width: 70%;
    text-align: center;
}

.popDivider {
    width: 70%;
    height: 1px;
    margin: 1.8rem auto;
    background: var(--clr-gold);
}

.wallet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    background-color: #c59d5f;
    border: #c59d5f solid 1px;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
}
