.starterWrap {
  display: flex;
  width: 100%;
  margin: 8rem 0 0 0;
}

.starterLogoContainer {
  width: 17rem;
  margin-left: 1.7rem;
}

.starterFlagWrap {
  position: absolute;
  top: 24rem;
  width: 70%;
  margin-bottom: 5%;
}

.starterFlagText {
  text-align: center;
}

.starterFlagContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.starterFlagContainer:hover .flagLabel {
  color: #c59d5f;
}

.flagLabel {
  margin-bottom: 10px;
}

.starterUkrFlag {
  width: 15rem;
  object-fit: cover;
}

.starterUkrFlag:hover {
  box-shadow: 3px 2px 12px 12px rgba(0,0,0,0.75);
}

.starterEngFlag {
  width: 16rem;
  object-fit: cover;
}

.starterEngFlag:hover {
  box-shadow: 3px 2px 12px 12px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1200px) and (max-width: 1450px) {
  .starterWrap {
    margin-top: 2rem;
  }
  .starterLogoContainer {
    width: 15rem;
    margin-left: 1.7rem;
  }
  .starterFlagWrap {
    position: absolute;
    top: 21rem;
    width: 70%;
    margin-bottom: 5%;
  }
  .starterUkrFlag {
    width: 13rem;
  }
  .starterEngFlag {
    width: 14rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .starterWrap {
    margin: 8rem 0 0 0;
  }
  .starterLogoContainer {
    width: 14rem;
  }
  .starterFlagWrap {
    width: 80%;
  }
  .starterUkrFlag {
    width: 12rem;
  }
  .starterEngFlag {
    width: 13rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 899px) {
  .starterLogoContainer {
    width: 14rem;
  }
  .starterFlagWrap {
    width: 80%;
  }
  .starterUkrFlag {
    width: 11rem;
  }
  .starterEngFlag {
    width: 12rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
  .starterWrap {
    margin-top: 5rem;
  }
  .starterLogoContainer {
    width: 12rem;
  }
  .starterFlagWrap {
    top: 23rem;
    width: 90%;
  }
  .starterUkrFlag {
    width: 160px;
  }
  .starterEngFlag {
    width: 160px;
  }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
  .starterWrap {
    margin-top: 5rem;
  }
  .starterLogoContainer {
    width: 10rem !important;
    margin-left: 0.9rem;
  }
  .starterFlagWrap {
    width: 100%;
    top: 24rem;
  }
  .starterUkrFlag {
    width: 8rem;
  }
  .starterEngFlag {
    width: 9rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 299px) {
  .starterLogoContainer {
    width: 8rem !important;
    margin-left: 0.9rem;
  }
  .starterFlagWrap {
    width: 100%;
    top: 22rem;
  }
  .starterUkrFlag {
    width: 6rem;
  }
  .starterEngFlag {
    width: 7rem;
  }
}
