.starterWrap {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
}

.starterDesktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 5rem;
}

.starterLogoContainer {
  width: 30%;
  margin-bottom: 5%;
}

.starterFlagWrap {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.starterFlagText {
  text-align: center;
}

.starterFlagContainer {
  display: flex;
  flex-direction: column;
}

.starterUkrFlag {
  width: 275px;
  height: 183px;
  margin-right: 5%;
}

.starterUkrFlag:hover {
  box-shadow: 3px 2px 12px 12px rgba(0,0,0,0.75);
}

.starterEngFlag {
  width: 300px;
  height: 178px;
  margin-left: 5%;
}

.starterEngFlag:hover {
  box-shadow: 3px 2px 12px 12px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .starterDesktop {
    padding-top: 5%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .starterDesktop {
    margin-top: 10%;
  }
}

@media screen and (min-width: 750px) and (max-width: 899px) {
  .starterDesktop {
    margin-top: 20%;
  }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
  .starterDesktop {
    margin-top: 25%;
  }
  .starterFlagWrap {
    width: 90%;
  }
  .starterUkrFlag {
    width: 225px;
    margin-right: 8%;
  }
  .starterEngFlag {
    width: 255px;
    margin-left: 8%;
  }
}

@media screen and (min-width: 200px) and (max-width: 499px) {
  .starterDesktop {
    padding-top: 40%;
  }
  .starterLogoContainer {
    width: 120px;
  }
  .starterFlagWrap {
    margin-top: 30%;
    flex-direction: column;
  }
  .starterUkrFlag {
    width: 170px;
    margin-bottom: 10%;
  }
  .starterEngFlag {
    width: 170px;
    margin-top: 10%;
  }
}
