.starterWrap {
  display: flex;
  width: 100%;
  margin: 15% 0 0 0;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
}

.starterLogoContainer {
  width: 20%;
}

.starterFlagWrap {
  width: 60%;
  margin-bottom: 5%;
}

.starterFlagText {
  text-align: center;
}

.starterFlagContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.starterFlagContainer:hover .flagLabel {
  color: #c59d5f;
}

.starterUkrFlag {
  width: 60%;
  object-fit: cover;
}

.starterUkrFlag:hover {
  box-shadow: 3px 2px 12px 12px rgba(0,0,0,0.75);
}

.starterEngFlag {
  width: 60%;
  object-fit: cover;
}

.starterEngFlag:hover {
  box-shadow: 3px 2px 12px 12px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .starterLogoContainer {
    width: 14%;
  }
  .starterFlagWrap {
    width: 60%;
  }
  .starterUkrFlag {
    width: 50%;
  }
  .starterEngFlag {
    width: 50%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .starterLogoContainer {
    width: 30%;
  }
  .starterFlagWrap {
    width: 80%;
  }
  .starterUkrFlag {
    width: 60%;
  }
  .starterEngFlag {
    width: 60%;
  }
}

@media screen and (min-width: 750px) and (max-width: 899px) {
  .starterLogoContainer {
    width: 40%;
  }
  .starterFlagWrap {
    width: 70%;
  }
  .starterUkrFlag {
    width: 70%;
  }
  .starterEngFlag {
    width: 70%;
  }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
  .starterLogoContainer {
    width: 40%;
  }
  .starterFlagWrap {
    width: 80%;
  }
  .starterUkrFlag {
    width: 160px;
  }
  .starterEngFlag {
    width: 160px;
  }
}

@media screen and (min-width: 200px) and (max-width: 499px) {
  .starterFlagWrap {
    width: 100%;
  }
  .starterLogoContainer {
    width: 50%;
  }
  .starterUkrFlag {
    width: 85%;
  }
  .starterEngFlag {
    width: 85%;
  }
}
