/*  Global Classes */
/* section */

.container {
    padding: 0 2rem;
}

.section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
    .section { width: 95vw; }
}

/*
===============
Content
===============
*/
.mainWrap {
    padding: 5rem 0;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
}

.return:hover {
    cursor: pointer;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    margin-right: auto;
    margin-left: auto;
    background: var(--clr-gold);
}

.articleLogoContainer {
    width: 200px;
    height: 400px;
}

.aboutArticle {
    display: flex;
    align-items: center;
    justify-content: center;
}